<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Magazine Float Layout</title>
		<link rel="stylesheet" href="../styles/base.css" />
		<link rel="stylesheet" href="../styles/utilities.css" />
		<link rel="stylesheet" href="../styles/float.css" />
	</head>
	<body>
		<header class="page-header">
			<div class="container">
				<h1 class="page-title">Task 2 — Float-Based Magazine Layout</h1>
				<nav class="nav-links">
					<a href="../index.html">Home</a>
				</nav>
			</div>
		</header>

		<main class="container">
			<article class="magazine-layout clearfix">
				<header class="mag-header">
					<strong>Simple Magazine</strong>
					<div class="muted">Floats + media queries only</div>
				</header>

				<section class="mag-main">
					<h2 style="margin-top:0">Main Article</h2>
					<div class="fake-photo float-right" aria-hidden="true"><img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg"></div>


					<div class="mag-columns clearfix">
						<div class="col">
							<p>
								Web pages can be created and modified by using professional HTML editors.However, for
                                learning HTML we recommend a simple text editor like Notepad (PC) or TextEdit (Mac).
                                We believe that using a simple text editor is a good way to learn HTML.
							</p>
							<p>
								HTML is the standard markup language used to create and design the structure 
                                of web pages, allowing you to organize content and define its layout.
                                Contains meta-information about the document, such as the title (displayed 
                                in the browser tab) and links to stylesheets. It is enclosed within head and /head tags.
							</p>
						</div>
						<div class="col">
							<p>
								DOCTYPE Declaration: Indicates the document type and version of HTML being used 
                                (e.g., !DOCTYPE html for HTML5).
							</p>
							<p>
								Contains meta-information about the document, such as the title (displayed in 
                                the browser tab) and links to stylesheets. It is enclosed within head and /head
                                tags.
							</p>
						</div>
					</div>

				</section>

				<aside class="mag-sidebar">
					<div class="sidebar-box">
						<strong>Sidebar</strong>
                        <br>
						<a href="https://www.w3schools.com/html/">HTML</a>
					</div>
					<div class="sidebar-box">
						<strong>Related</strong>
						<ul>
							<li><a href="https://www.w3schools.com/js/">JavaScript</a></li>
							<li><a href="https://www.w3schools.com/css/">CSS</a></li>
						</ul>
					</div>
				</aside>
			</article>
		</main>
	</body>
</html>

